:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: __Rubik__;
  src: url(./assets/fonts/Rubik.ttf);
}

* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

a {
  color: #646cff;
  text-decoration: inherit;
}

body {
  min-height: 100vh;
  font-family: __Rubik__, sans-serif;
}

.container {
  padding: 1.5rem;
}

@property --gColor {
  syntax: '<color>';
  inherits: true;
  initial-value: #242424;
}

.main-page {
  --gradient: linear-gradient(to bottom,
      var(--gColor) 25%,
      transparent,
      var(--gColor) 75% 100%);
  background: var(--gradient), var(--bg-image);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: change-color 50s linear infinite;
}

.quote-container {
  max-width: 600px;
}

@keyframes change-color {
  0%, 100% {
    --gColor: #242424;
  }

  33% {
    --gColor: #104f9d;
  }

  66% {
    --gColor: #9d105f;
  }
}

.quote {
  font-weight: 500;

  >footer {
    font-weight: 800;
    margin-top: .25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }

  .quote__cite {
    a {
      display: block;
      width: 200px;
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .quote__cite:hover {
    color: #535bf2;
  }
}

.timezone__time {
  font-size: 4.75rem;
  font-size: clamp(4rem, 10vw, 6rem);
  font-weight: 800;

  display: flex;
  align-items: center;
  gap: .5rem;

  .seconds {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-size: clamp(2rem, 10vw, 3rem);
    color: #ca2121;
  }
}

.greeting {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  overflow: hidden;

  h2 {
    display: flex;
    align-items: center;

    span {
      height: 24px;
    }
  }
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

button {
  display: inline-block;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  line-height: 1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.regenerate-btn {
  padding: .25rem;
  width: fit-content;
  background-color: transparent;
  backdrop-filter: blur(4px);
  transform: scale(0);
  animation: btn-in 1s ease-in forwards;
}

@keyframes btn-in {
  50% {
    transform: scale(1) rotate(-180deg);
  }

  75% {
    transform: scale(1.2) rotate(-90deg);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}