:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: __Rubik__;
  src: url(./assets/fonts/Rubik.ttf);
}

* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-height: 100vh;
  font-family: __Rubik__;
}

.container {
  padding: 1.5rem;
}

.main-page {
  --gradient: linear-gradient(
    to bottom,
    #242424 25%,
    transparent,
    #242424 75% 100%
  );
  background: var(--gradient), var(--bg-image);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quote {
  font-weight: 500;
  max-width: 450px;

  > footer {
    font-weight: 800;
    margin-top: .25rem;
  }
}

.timezone__time {
  font-size: 4.75rem;
  font-size: clamp(4rem, 10vw, 6rem);
  font-weight: 800;

  display: flex;
  align-items: center;
  gap: .5rem;

  .seconds {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-size: clamp(2rem, 10vw, 3rem);
    color: #ca2121;
  }
}

.greeting {
  display: flex;
  align-items: center;

  h2 {
    display: flex;
    align-items: center;
    
    span {
      height: 24px;
    }
  }
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
